
<div class="hc_lnav jslist">
	<div class="allbtn">

		<ul style="width:190px" class="jspop box">
			<li class=a1>
				<div class=tx><a href="#"><i>&nbsp;</i>电脑配件</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="#">主机</a>
						<a href="#">显示器</a>
						<a href="#">键盘鼠标</a>
						<a href="#">电脑音箱</a>
					</dd>
				</dl>

				<div class=pop>
					<dl>
						<dl>
							<dt>主机</dt>
							<dd>
								<a class="ui-link" href="/products/1">CPU</a>
								<a class="ui-link"  href="/products/2">硬盘</a>
								<a class="ui-link" href="/products/3">主板</a>
								<a class="ui-link"   href="/products/4">内存</a>
								<a class="ui-link" href="/products/5">机箱</a>
							</dd>
						</dl>
						<dl>
							<dt>显示器</dt>
							<dd>
								<a class="ui-link" href="/products/6">三星</a>
								<a class="ui-link"  href="/products/7">华硕</a>
								<a class="ui-link" href="/products/8">联想</a>
								<a class="ui-link"  href="/products/9">戴尔</a>
								<a class="ui-link" href="/products/10">宏碁</a>
								<a class="ui-link" href="/products/11">AOC</a>
							</dd>
						</dl>
						<dl>
							<dt>键盘鼠标</dt>
							<dd>
								<a class="ui-link" href="/products/12" >罗技</a>
								<a class="ui-link"  href="/products/13">双飞燕</a>
								<a class="ui-link"  href="/products/14">尼本</a>
								<a class="ui-link"   href="/products/15">雷蛇</a>
								<a class="ui-link"    href="/products/16">雷柏</a>
								<a class="ui-link"   href="/products/17">森松尼</a>
							</dd>
						</dl>
						<dl>
							<dt>电脑音箱</dt>
							<dd>
								<a class="ui-link" href="/products/18">漫步者</a>
								<a class="ui-link"  href="/products/19">雅兰仕</a>
								<a class="ui-link" href="/products/20">雅马哈</a>
								<a class="ui-link"  href="/products/21">惠威</a>
								<a class="ui-link"  href="/products/22">BOSE</a>
								<a class="ui-link" href="/products/23">飞利浦</a>
							</dd>
						</dl>


					<div class=clr></div>
					<div ><a href=""><img src="http://pic002.cnblogs.com/img/anlyren/201002/2010022311195093.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="https://cbu01.alicdn.com/img/ibank/2016/419/739/2990937914_1501822747.310x310.jpg" width="130" height="110"/></a> </div>
          <div ><a href=""><img src="http://image.big5.made-in-china.com/2f0j01MeFQRYLBYpbH/%E9%9F%B3%E7%AE%B1%EF%BC%8801%EF%BC%89.jpg" width="130" height="110"/></a> </div>
				</div>
			 </dl>
			</li>

			<li class=a2>
				<div class=tx><a href=""><i>&nbsp;</i>品牌电脑</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="">一体机</a>
						<a href="">笔记本</a>
						<a href="" >台式机</a>

					</dd>
				</dl>
				<div class=pop>
					<dl>
						<dl>
							<dt>一体机</dt>
							<dd>
								<a class="ui-link" href="/products/24" >联想一体机</a>
								<a class="ui-link"    href="/products/25">苹果一体机</a>
								<a  class="ui-link" href="/products/26">华硕一体机</a>
								<a class="ui-link"   href="/products/27" >戴尔一体机</a>
								<a class="ui-link"   href="/products/28" >惠普一体机</a>
								<a class="ui-link"   href="/products/29">宏碁一体机</a>
							</dd>
						</dl>
						<dl>
							<dt>笔记本</dt>
							<dd>
								<a class="ui-link" href="/products/30" >惠普笔记本</a>
								<a class="ui-link"  href="/products/31"  >华硕笔记本</a>
								<a class="ui-link"   href="/products/32">苹果笔记本</a>
								<a class="ui-link" href="/products/33" >宏碁笔记本</a>
								<a class="ui-link"   href="/products/34">联想笔记本</a>
							</dd>
						</dl>
						<dl>
							<dt>台式机</dt>
							<dd>
								<a class="ui-link" href="/products/35" >苹果台式机</a>
								<a class="ui-link"    href="/products/36"  >华硕台式机</a>
								<a class="ui-link"   href="/products/37">戴尔台式机</a>
								<a class="ui-link" href="/products/38" >宏碁台式机</a>
							</dd>
						</dl>

					<div ><a href=""><img src="http://www.rongdacj.com/upload/201608/1471343049.png" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://img5.pcpop.com/ProductImages/320x240/8/8125/008125546.jpg" width="130" height="110"/></a> </div>
          <div ><a href=""><img src="http://img12.360buyimg.com/n7/jfs/t3373/320/572617154/275741/ebadf37e/580da364N69da9f4b.jpg" width="130" height="110"/></a> </div>
			 </div>
		 </dl>

			</li>
			<li class=a3>
				<div class=tx><a href=""><i>&nbsp;</i>办公耗材</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="" >打印机</a>
						<a href="">纸张</a>
						<a href="">传真机</a>
						<a href="">指纹考勤机</a>
					</dd>
				</dl>
				<div class=pop>
					<dl>
					<dl>
						<dl>
							<dt>打印机</dt>
							<dd>
								<a class="ui-link" href="/products/39">惠普打印机</a>
								<a class="ui-link"  href="/products/40">兄弟打印机</a>
								<a class="ui-link" href="/products/41" >联想打印机</a>
								<a class="ui-link"  href="/products/42">三星打印机</a>
								<a class="ui-link" href="/products/43"  >松下打印机</a>
								<a class="ui-link"  href="/products/44">京瓷打印机</a>
							</dd>
						</dl>
					</dl>
					<dl>
						<dt>纸张</dt>
						<dd>
							<a  href="/products/45">A3纸</a>
							<a  href="/products/46">A4纸</a>
							<a   href="/products/47">A5纸</a>
							<a  href="/products/48">传真纸</a>
							<a href="/products/49">记事本</a>
						</dd>
					</dl>
					<dl>
						<dt>传真机</dt>
						<dd>
							<a href="/products/50">松下传真机</a>
							<a  href="/products/51">兄弟传真机</a>
							<a  href="/products/52">夏普传真机</a>
						</dd>
					</dl>
					<dl>
						<dt>指纹考勤机</dt>
						<dd>
							<a href="/products/53">群英云考勤机</a>
							<a  href="/products/54">中控指纹</a>
						</dd>
					</dl>
					<div class=clr></div>
					<div ><a href=""><img src="http://www.tiaomawang.com/uploads/allimg/140921/1-140921213K60-L.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://www.89ws.com/UploadFile/ImgPro/2013121156492783818.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://attach3.dwnews.net/userImg/000/02/40/66_avatar_big.jpg" width="130" height="110"/></a> </div>
				</div>
			</dl>
			</li>
			<li class=a4>
				<div class=tx><a href=""><i>&nbsp;</i>其他</a> </div>
				<dl>
					<dt></dt>
					<dd>
						<a href="">手机</a>
						<a   href="">手机配件</a>
						<a  href="">网络产品</a>
					</dd>
				</dl>
				<div class=pop>
          <dl>
				  	<dl>
						<dl>
							<dt>手机</dt>
							<dd>
								<a class="ui-link" href="/products/55">三星手机</a>
								<a class="ui-link"   href="/products/56">苹果手机</a>
								<a class="ui-link"   href="/products/57">小米手机</a>
								<a class="ui-link"   href="/products/58">华为手机</a>
								<a  class="ui-link" href="/products/59">锤子手机</a>
							</dd>
						</dl>
						<dl>
							<dt>手机配件</dt>
							<dd>
								<a class="ui-link"  href="/products/60">手机壳</a>
								<a class="ui-link"  href="/products/61">贴膜</a>
								<a class="ui-link" href="/products/62">手机内存卡</a>
								<a class="ui-link" href="/products/63">手机支架</a>
								<a  class="ui-link" href="/products/64">充电宝</a>
							</dd>
						</dl>
					</dl>
					<dl>
						<dt>网络产品</dt>
						<dd>
							<a href="/products/65">路由器</a>
							<a href="/products/66">交换机</a>
							<a href="/products/67">网络机顶盒</a>
							<a  href="/products/68">随身wifi</a>
						</dd>
					</dl>

					<div class=clr></div>
					<div ><a href=""><img src="http://img.cnmo-img.com.cn/1403_600x1000/1402105.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://www.pcdiy.com.tw/webroot/data/media/d6bb9c2aa567e69e62bd6ef29174ba1d.jpg" width="130" height="110"/></a> </div>
					<div ><a href=""><img src="http://pic.9ht.com/up/2015-7/2015726151746.jpg" width="130" height="110"/></a> </div>
				</div>
			</dl>
			</li>
		</ul>
	</div>
</div>




<div class="recommend">
 <div class="pic" id="fade">

		<ul>
			<li><a href="/products/37"><img src="http://img.aiimg.com/uploads/allimg/131223/263915-131223145G3.jpg" /></a></li>
			<li><a href="/products/56"><img src="http://img.zcool.cn/community/016d7f5542ef450000019ae919e4e2.jpg" /></a></li>
			<li><a href="/products/55"><img src="http://img13.poco.cn/mypoco/myphoto/20120530/11/4620439201205301130012753823335343_006.jpg" /></a></li>
		</ul>

		<p></p>
	</div>
</div>



<div>
<script type="text/javascript">
// 自动播放的焦点图
(function (){
  var oDiv = $('#fade');
  var aUlLi = oDiv.find('ul li');
  var aOlLi = oDiv.find('ol li');
  var oP = oDiv.find('p');
  var arr = [ '＃', '＃', '＃' ];
  var iNow = 0;
  var timer = null;

  fnFade();

  aOlLi.click(function (){
    iNow = $(this).index();
    fnFade();
  });
  oDiv.hover(function (){ clearInterval(timer); }, autoPlay);

  function autoPlay() {
    timer = setInterval(function () {
      iNow++;
      iNow%=arr.length;
      fnFade();
    }, 3000);
  }
  autoPlay();

  function fnFade() {
    aUlLi.each(function (i){
      if ( i != iNow ) {
        aUlLi.eq(i).fadeOut().css('zIndex', 1);
        aOlLi.eq(i).removeClass('active');

      } else {
        aUlLi.eq(i).fadeIn().css('zIndex', 2);
        aOlLi.eq(i).addClass('active');
      }
    });
    oP.text(arr[iNow]);
  }
})();

</script>

</div>


<hr/>

<h3 class="left">今日特价</h3>
<hr/>


<div class="rollBox">
     <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
     <div class="Cont" id="ISL_Cont">
      <div class="ScrCont">
       <div id="List1">
        <!-- 图片列表 begin -->
         <div class="pic">
          <a href="/products/3" target="_blank"><img src="http://img5.pcpop.com/ArticleImages/0X0/2/2323/002323099.jpg" width="210" height="180"  onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/3" target="_blank">主板</a>

         </div>
 <div class="pic">
          <a href="/products/5" target="_blank"><img src="http://img.article.pchome.net/01/77/39/92/img_0225.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/5" target="_blank">机箱</a>

         </div>
         <div class="pic">
          <a href="/products/7" target="_blank"><img src="http://www.oaez.cn/images/shopfw/main/2016/05/22/goods_img/imgurl_P_7365dffa17c040de97a5a06402514622.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/7" target="_blank">华硕显示器</a>

         </div>
         <div class="pic">
          <a href="/products/15" target="_blank"><img src="http://static.cnbetacdn.com/article/2016/0921/5cb5b63c8042613.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/15" target="_blank">雷蛇鼠标</a>

         </div>
         <div class="pic">
          <a href="/products/20" target="_blank"><img src="http://baralido.com/images/201409/goods_img/197_G_1411156917649.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/20" target="_blank">雅马哈音箱</a>

         </div>
 <div class="pic">
          <a href="/products/25" target="_blank"><img src="http://img2.zol.com.cn/product/107/416/cex9OW7xEnT6.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/25" target="_blank">苹果一体机</a>

         </div>
         <div class="pic">
          <a href="/products/39" target="_blank"><img src="http://news.mydrivers.com/img/20090623/04582472.jpg" width="210" height="180"   onload="return imgzoom(this,600);" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/></a>
          <a href="/products/39" target="_blank">惠普打印机</a>

         </div>
        <!-- 图片列表 end -->
       </div>
       <div id="List2"></div>
      </div>
     </div>
     <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>
    </div>
   </div>
<script language="javascript" type="text/javascript">
<!--//--><![CDATA[/><!--
//图片滚动列表 mengjia 070816
var Speed = 1; //速度(毫秒)
var Space = 5; //每次移动(px)
var PageWidth = 900; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName){if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
function AutoPlay(){ //自动滚动
 clearInterval(AutoPlayObj);
 AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',3000); //间隔时间
}//欢迎来到站长特效网，我们的网址是www.zzjs.net，很好记，zz站长，js就是js特效，本站收集大量高质量js代码，还有许多广告代码下载。
function ISL_GoUp(){ //上翻开始
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp(){ //上翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0){
  Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}//欢迎来到站长特效网，我们的网址是www.zzjs.net，很好记，zz站长，js就是js特效，本站收集大量高质量js代码，还有许多广告代码下载。
function ISL_ScrUp(){ //上翻动作
 if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
 GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
 clearInterval(MoveTimeObj);
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 ISL_ScrDown();
 MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 ){
  Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}//欢迎来到站长特效网，我们的网址是www.zzjs.net，很好记，zz站长，js就是js特效，本站收集大量高质量js代码，还有许多广告代码下载。
function ISL_ScrDown(){ //下翻动作
 if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
 GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr(){
 var num;
 if(Comp == 0){MoveLock = false;return;}
 if(Comp < 0){ //上翻
  if(Comp < -Space){
   Comp += Space;
   num = Space;
  }else{
   num = -Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft -= num;
  setTimeout('CompScr()',Speed);
 }else{ //下翻
  if(Comp > Space){
   Comp -= Space;
   num = Space;
  }else{
   num = Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft += num;
  setTimeout('CompScr()',Speed);
 }
}
//--><!]]>
</script>









<style>
*{ margin:0; padding:0; list-style:none;}
.navv{ width:900px;position:fixed; left:50%; margin-left:-600px; top:-52px;z-index:888; display:none;}

</style>




<ul id="search" class="gradient navv">
	<li class="form un ui-link">
		<form action="#"  >
			<input class="text" type="text" value="输入搜索的商品" />
			<input class="btn" type="submit" value="搜索" />
		</form>
	</li>
</ul>


<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script>
//滚动后导航固定
$(function(){
	$(window).scroll(function(){
          height = $(window).scrollTop();
   	  	  if(height > 90){
   	  	  	$('.navv').fadeIn();
   	  	  }else{
   	  	  	$('.navv').fadeOut();
   	  	  };

});
});
</script>




<body class="left">

<div class="style1">
 <h2>一热销手机一</h2>
 <div></div>
	<ul>
    <img src="http://pic.qiantucdn.com/58pic/18/48/48/5627f04ac8911_1024.jpg" width="280" height="290" />
  	<li><a href="/products/56"><img src="http://upload.chinaz.com/2016/0523/1463967223603.jpg"><span>苹果手机</span></a></li>
		<li><a href="/products/55"><img src="http://iwebad.com/d/file/video/it/2016-01-05/f26078eb47597670f01b888a0c32f85a.jpg"><span>三星手机</span></a></li>
		<li><a href="/products/57"><img src="http://news.xinhuanet.com/info/ttgg/2016-02/24/135127148_14563013034711n.jpg"><span>小米手机</span></a></li>
		<li><a href="/products/58"><img src="http://upload.njdaily.cn/2015/0907/1441611412876.jpg"><span>华为手机</span></a></li>
	</ul>
<div style="clear:both"></div>
</div>

<div class="style1">
	<h2>一畅销笔记本一</h2>
 <div></div>
	<ul>
    <img src="http://img6.web07.cn/UPics/Vector/2016/0413/17079131031531.jpg" width="280" height="290" />
  	<li><a href="/products/34"><img src="http://notebook.yesky.com/uploadImages/2013/172/YFSA00A49NAV_11_500.jpg"><span>联想笔记本</span></a></li>
		<li><a href="/products/31"><img src="http://img.aiimg.com/uploads/userup/1001/10105925R05.jpg"><span>华硕笔记本</span></a></li>
		<li><a href="/products/30"><img src="http://58pic.ooopic.com/58pic/14/10/39/94G58PICjXn.jpg"><span>惠普笔记本</span></a></li>
		<li><a href="/products/33"><img src="http://gaitaobao4.alicdn.com/tfscom/i3/TB1HrEwOVXXXXcxXFXXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg"><span>宏碁笔记本</span></a></li>
	</ul>
 <div style="clear:both"></div>
</div>

<div class="style1">
	<h2>一热销打印机一</h2>
<div></div>
	<ul>
    <img src="http://www.hnhzkeji.com.img.800cdn.com/uploads/allimg/160918/1-16091Q6043D44.jpg" width="280" height="290" />
  	<li><a href="/products/41"><img src="https://cbu01.alicdn.com/img/ibank/2016/487/708/3754807784_357505737.jpg"><span>联想打印机</span></a></li>
		<li><a href="/products/39"><img src="http://news.mydrivers.com/img/20090623/04582472.jpg"><span>惠普打印机</span></a></li>
		<li><a href="/products/42"><img src="http://2e.zol-img.com.cn/product/136_280x210/190/ceuqkstnnSBxU.jpg"><span>三星打印机</span></a></li>
		<li><a href="/products/40"><img src="http://img.article.pchome.net/01/89/84/99/qq%E6%88%AA%E5%9B%BE20160203161111.jpg"><span>兄弟打印机</span></a></li>
	</ul>
<div style="clear:both"></div>
<div></div>
<div></div>
</div>

</body>



<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
<%= will_paginate @questions %>
